* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

body {
    background: #1e1e1e;
}

.heading {
    background: #252526;
    padding: 1rem; 
    text-align: center;
    width: 100%; 
}

.Headingh {
    color: snow;
    margin: 0;
    display: inline-block;
    text-decoration: dashed;
    font-size: 3rem; 
}

